# This is a requirements file for a the medicine notification web-app.
# Please make sure to install the required packages listed below in the requirements file in order to use the web-app.
# Happy hacking!

fastapi
uvicorn
sqlalchemy
pydantic
pandas
apscheduler
python-dotenv
passlib[bcrypt]